<!DOCTYPE html>
<html>

   <head>
      <title>URL Shortener Microservice | Free Code Camp</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1> URL Shortener Microservice </h1>
        <h3>
          Will convert a correctly formated website url to numbers
          <br> i.e https://warm-garden-64498.herokuapp.com/https://www.apple.com
          <br> will become "https://warm-garden-64498.herokuapp.com/2703"
        </h3>


      </div>
   </body>

</html>
